$font-color: #fff;
$color-gray: #777;
$gray-light: #ccc;

$primary-color: #58e1c1;
$default-color: #51ddfc;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;

$breakpoint: 768px;